.layout {
    color: #668A99;
    overflow: hidden;
}

.layout__content {
    padding-left: 240px;
    padding-top: 30px;
    min-height: 100vh;

}

.layout__content-main {
    padding: 20px;
}

@media only screen and (max-width: 1200px) {
    .layout__content {
        padding-left: 90px;
    }
}

@media only screen and (max-width: 800px) {
    .layout__content {
        padding-left: 90px;
    }
}
