@tailwind base;
@tailwind components;
@tailwind utilities;

.star{
  /* width: 400px!important; */
}
.btn{
  background-color: black;
}
.small-card{
  width: 213px;
}
.long-card{
  /* width: 780px */
}
.long-card1{
  width: 780px
}

@media only screen and (max-width: 600px) {
  .long-card{
    width: fit-content;
  }
}
@media screen and (max-width: 1024px) {
	.hidelogin {
		display: none;
	}
}

@media screen and (max-width:568px) {
  .hideOnlyonNavMobile {
    display: block;
    }
}
.card {
  padding: 20px;
  box-shadow: var(--box-shadow);
  border-radius: 15px;
}
