@tailwind base;
@tailwind components;
@tailwind utilities;

.star{
  /* width: 400px!important; */
}
.btn{
  background-color: black;
}
.small-card{
  width: 41%;
}
.long-card{
  width: 780px
}
.long-card1{
  width: 780px
}

@media only screen and (max-width: 600px) {
  .long-card{
    width: fit-content;
  }
}

/* :root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
} */
